<!DOCTYPE html>
<html id="htmlId">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../../public/js/mui.min.js"></script>
		<link rel="stylesheet" type="text/css" href="chat.css" />
		<link href="../../public/css/mui.min.css" rel="stylesheet" />
		<link href="../../css/icons-extra.css" rel="stylesheet" />
		<script src="../../js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body contextmenu="return false;">
		<header class="mui-bar mui-bar-nav"  style="background: #705de8 !important;">
			<a class="mui-action-back mui-icon mui-icon-extra mui-icon-extra-arrowleftcricle mui-pull-left" style=" color: #fff !important;"></a>
			<h1 class="mui-title" style=" color: #fff !important;">聊天室</h1>
		</header>
		<br />
		<br />
		<!--内容页-->

		<div class="main">
			<div class="main_inner clearfix">
				<div class="panel"></div>
				<div id="chatArea" class="box chat">
					<div class="box_hd"></div>
					<div class="box_bd" id="messageList" style="color: #000000;">

						<!--别人发的-->
						<!--<div class="message" >
                        <img class="avatar" src="../../img_loc/10.png" />
                        <div class="content">
                            <div class="nickname">友萍<span class="time">10:12:20</span></div>
                            <div class="bubble bubble_default left">
                                <div class="bubble_cont">
                                    <div class="plain">
                                        <pre>请你吃一个月大餐！</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

						<!--我发的-->
						<!--<div class="message me">
                        <img class="avatar" src="../../img_loc/0.png" />
                        <div class="content">
                            <div class="nickname"><span class="time">10:10:08</span></div>
                            <div class="bubble bubble_primary right">
                                <div class="bubble_cont">
                                    <div class="plain">
                                        <pre>你欠我一顿大餐你欠我一顿大餐你欠我一顿大餐你欠我一顿大餐你欠我一顿大餐你欠我一顿大餐你欠我一顿大餐你欠我一顿大餐你欠我一顿大餐你欠我一顿大餐你欠我一顿大餐</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                  		</div>-->
					</div>
				</div>
			</div>
		</div>
		<!--输入框-->
		<nav id="nn" class="mui-bar mui-bar-tab">
			<div id="txt">
				<input type="text" name="" id="input" value="" />
			</div>

			<div id="btn">
				<button id="meg" type="button" class="mui-btn mui-btn-blue">发送</button>
			</div>
		</nav>
		<script src="chat.js"></script>
		<script type="text/javascript">
			
		</script>
	</body>

</html>