<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../public/css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="mee.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	</head>

	<body>
		<div id="app">

			<header id="header" class="" style="">
				<div id="shezhi" class="mui-icon mui-icon-gear shezhi">
				</div>
				<div id="geren" class="header_tou">
					<div class="header_touxiang">
						<img class="header_img" src="../../public/img/timg1.jpg" />
					</div>
					<div class="header_mingzi">
						<p>{{message}}</p>
						<p>{{dianhua}}</p>
					</div>
					<div class="mui-icon mui-icon-arrowright header_jiao">

					</div>
				</div>
			</header>
			<ul class="quanzi">
				<li id="tiezi">我的发帖</li>
				<li id="quanzi">我的圈子</li>
				<li id="shoucang">我的收藏</li>
			</ul>
			<ul class="mui-table-view">
				<li id="kf_01" class="mui-table-view-cell">
					<a class="mui-navigate-right"><span class="mui-icon mui-icon-qq"></span>联系客服</a>
				</li>
				<li class="mui-table-view-cell" id="wo">

					<a class="mui-navigate-right"> <span class="mui-icon mui-icon-info">
					
				</span>关于我们</a>
				</li>
				<li class="mui-table-view-cell" id="gengx">

					<a class="mui-navigate-right"> <span class="mui-icon mui-icon-loop">
					
				</span>系统更新</a>
				</li>
				<li class="mui-table-view-cell" id="tabbar-with-map">
					<a class="mui-navigate-right qingchu"><span class="mui-icon mui-icon-trash"></span><span id="">清除缓存</span> <span id="mm">2.0M</span></a>
				</li>
			</ul>
		</div>
		<script src="../../public/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="mee.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					message: '小宇',
					dianhua:'564563232146'
				},
				methods:{
				},
			})
		</script>
	</body>

</html>