html,
body {
    background-color: #efeff4;
}.mui-bar-nav {
    top: 0;
    /*-webkit-box-shadow: 0 1px 6px #ccc;*/
     box-shadow: none !important; 
}
.mui-bar~.mui-content .mui-fullscreen {
    top: 44px;
    height: auto;
}
.mui-pull-top-tips {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -25px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
}
.mui-bar~.mui-pull-top-tips {
    top: 24px;
}
.mui-pull-top-wrapper {
    width: 42px;
    height: 42px;
    display: block;
    text-align: center;
    background-color: #efeff4;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-clip: padding-box;
    box-shadow: 0 4px 10px #bbb;
    overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
    /*-webkit-backface-visibility: hidden;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;*/

    margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
    margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
    /*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
    text-align: center;
    background-color: #efeff4;
    font-size: 15px;
    line-height: 40px;
    color: #777;
}
.mui-pull-top-canvas {
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 40px;
    box-shadow: 0 4px 10px #bbb;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.mui-pull-top-canvas canvas {
    width: 40px;
}
.mui-slider-indicator.mui-segmented-control {
    background-color: #efeff4;
}
.mui-title {
    color: #fff !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #9266f9 !important;
}

.mui-segmented-control.mui-segmented-control-inverted {
    width: 92% !important;
}

#mui{
	float: right;
	margin-top: -7.5% !important;
	margin-right: 2%;
}
.mui-icon {
    font-size: 20px !important;
}
.mui-icon-bars:before {
    color: #a18e8e !important;
}

#mui{
	float: right;
	height: 30px;
	margin-top: -7% !important;
	margin-right: 2%;
	z-index: 99;
}
.mui-icon {
    font-size: 20px !important;
}
.mui-icon-bars:before {
    color: #a18e8e !important;
}
.nr .nr_img{
	width: 100%;
	display: flex;
	margin-bottom: 4%;
}
.nr .nr_img img{
	width: 32% !important;
	height: 20% !important;

}
.nr .nr_img img:nth-child(2){
	margin: 0% 2%;
}
.nr_wei span:nth-child(2){
	color: #C0C0C0;
}
.nr2{
	display: flex;
}
.nr2_bt{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 4 !important;
}
.nr2_bt h4{
	width: 100%;
	height: 36px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.nr2 .nr_img{
	flex: 2;
}