<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>首页详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../public/css/mui.min.css">
		<script src="../../public/js/mui.min.js" type="text/javascript" charset="utf-8"></script>

		<link rel="stylesheet" type="text/css" href="home_xq.css" />
		<link rel="stylesheet" type="text/css" href="../../public/fonts/iconfont.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">详情</h1>
			<a class="mui-pull-right">0评论</a>
		</header>
		<div class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<div id="cont" class="">
					<h3>这是标题阿斯达大所大所大所大所大所大所大所大所大所大所</h3>
					<div class="cont_02">
						<span id="">新闻网</span>
						<span id="">日期654654</span>
					</div>
					<div class="">
						阿斯达所大扩或军奥所扩多多多多多多多多多多多多多多多多多军扩军扩军扩军扩军多多多多多多多多多多多多多多多多多多多多多多大扩军阿斯达所大所大所大所大所大所大所大所大所多多多多多多多多多多多多多多多多多多多多多多多
					</div>
					<img src="../../public/img/timg1.jpg" />
					<div class="">
						阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多阿斯达所大扩或军奥所扩多多多多多多多多多多多多多多多多多军扩军扩军扩军扩军多多多多多多多多多多多多多多多多多多多多多多大扩军阿斯达所大所大所大所大所大所大所大所大所多多多多多多多多多多多多多多多多多多多多多多多
					</div>
					<!--评论-->
					<div class="pinglun">
						<div class="pinglun_02">
							全部评论
						</div>
						<div class="pl">
							<div class="pinglun_03">
								<img src="../../public/img/timg1.jpg" />
								<span class="pinglun_03_span">
								346432136
							</span>
								<span class="mui-icon mui-icon-email">
								0
							</span>
								<span class="iconfont icon-dianzan-copy">
								0
							</span>
								<span class="mui-icon mui-icon-trash"></span>
							</div>
							<div class="pinglun_022">
								爱就是的合法i卡萨丁你就哦了卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡
							</div>
						</div>
						<div  class="pl">
							<div class="pinglun_03">
								<img src="../../public/img/timg1.jpg" />
								<span class="pinglun_03_span">
								346432136
							</span>
								<span class="mui-icon mui-icon-email">
								0
							</span>
								<span class="iconfont icon-dianzan-copy">
								0
							</span>
								<span class="mui-icon mui-icon-trash"></span>
							</div>
							<div class="pinglun_022">
								爱就是的合法i卡萨丁你就哦了卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡
							</div>
						</div>
						<div class="pl">
							<div class="pinglun_03">
								<img src="../../public/img/timg1.jpg" />
								<span class="pinglun_03_span">
								346432136
							</span>
								<span class="mui-icon mui-icon-email">
								0
							</span>
								<span class="iconfont icon-dianzan-copy">
								0
							</span>
								<span class="mui-icon mui-icon-trash"></span>
							</div>
							<div class="pinglun_022">
								爱就是的合法i卡萨丁你就哦了卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡你就哦了卡
							</div>
						</div>
					</div>
					<!--到底啦-->
					<div class="daodibu">
						到底啦  ! ! !
					</div>
				</div>

			</div>
		</div>

		<!--底部-->
		<header class="mui-bar dibu">
			<div class="mui-input-row">
				<input type="text" placeholder="评论">
				<input type="button" id="" value="发表" />
			</div>

			<div id="" class="iconfont icon-dianzan-copy">
				<span id="">
				</span>
			</div>
			<div id="" class="iconfont icon-xingxing-copy">
			</div>

		</header>
	</body>
	<script src="home_xq.js" type="text/javascript" charset="utf-8"></script>

</html>