<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="home.css" rel="stylesheet" />
		<link href="../../public/css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background: #705de8;">

			<h1 class="mui-title">首页</h1>
		</header>
		<div id="slider" class="mui-slider">
			<div class="mui-slider-group mui-slider-loop">
				<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img src="../../public/images/1.png">
					</a>
				</div>
				<!-- 第一张 -->
				<div class="mui-slider-item">
					<a href="#">
						<img src="../../public/images/1.png">
					</a>
				</div>
				<!-- 第二张 -->
				<div class="mui-slider-item">
					<a href="#">
						<img src="../../public/images/1.png">
					</a>
				</div>
				<!-- 第三张 -->
				<div class="mui-slider-item">
					<a href="#">
						<img src="../../public/images/1.png">
					</a>
				</div>
				<!-- 第四张 -->
				<div class="mui-slider-item">
					<a href="#">
						<img src="../../public/images/1.png">
					</a>
				</div>
				<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img src="http://placehold.it/400x300">
					</a>
				</div>
			</div>
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
			</div>
		</div>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<!--导航-->
				<div style="background: #efeff4;">
					<div id="sliderSegmentedControl" style="width: 100% !important;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<div class="mui-scroll" style="width: 160% !important;">
							<a id="tj" class="mui-control-item mui-active" href="#item1mobile">
								推荐
							</a>
							<a id="jfjc" class="mui-control-item" href="#item2mobile">
								减肥基础
							</a>
							<a id="jbss" class="mui-control-item" href="#item3mobile">
								局部塑身
							</a>
							<a id="jfys" class="mui-control-item" href="#item4mobile">
								减肥饮食
							</a>
							<a id="ydjf" class="mui-control-item" href="#item5mobile">
								运动减肥
							</a>
							<a id="jfff" class="mui-control-item" href="#item6mobile">
								减肥方法
							</a>
						</div>

					</div>
					<!--<div id="mui">
						<a class="mui-icon mui-icon-bars"></a>
					</div>-->
				</div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active" >
						<div id="scroll1" class="mui-scroll-wrapper" >
							<div class="mui-scroll" id="pullrefresh">
								<ul id="zqbb" class="mui-table-view ul_sh" style="margin-bottom: 10% !important;">  
									<!--<li  class="mui-table-view-cell mui-media">-->
										<!--<div class="nr">
											<h4 class="">
									        		标题标题标题标题标题题标题题标题题标题
									        	</h4>
											<div class="nr_img">
												<img src="../../public/img/timg1.jpg" />
												<img src="../../public/img/timg1.jpg" />
												<img src="../../public/img/timg1.jpg" />
											</div>
											<div class="nr_wei">
												<span id="">
									        			新华网
									        		</span>
												<span id="">
									        			日期216546
									        		</span>
											</div>
										</div>-->
									<!--</li>-->
									<!--<li class="mui-table-view-cell mui-media">
										<div class="nr2">
											<div class="nr2_bt">
												<h4 class="">标题标题题标题题标题题标题题标题题标题题标题题标题题标题题标题标题标题标题题标题题标题题标题</h4>
												<div class="nr_wei">
													<span id="">新华网</span>
													<span id="">日期216546</span>
												</div>
											</div>
											<div class="nr_img">
												<img src="../../public/img/timg1.jpg" />
											</div>

										</div>
									</li>-->
								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul id="tj_2" class="mui-table-view ul_yl">
									<!--<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>-->
								</ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul id="tj_3" class="mui-table-view ul_keji">
									<!--<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>-->
								</ul>
							</div>
						</div>
					</div>
					<div id="item4mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul id="tj_4" class="mui-table-view ul_ss">
									<!--<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>-->
								</ul>
							</div>
						</div>
					</div>
					<div id="item5mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul id="tj_5" class="mui-table-view ul_ly">
									<!--<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>-->
								</ul>
							</div>
						</div>
					</div>
					<div id="item6mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul id="tj_6" class="mui-table-view ul_qc">
									<!--<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>
									<li class="mui-table-view-cell mui-media">
										<a href="javascript:;">
											<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">
											<div class="mui-media-body">
												幸福
												<p class="mui-ellipsis">能和心爱的人一起睡觉，是件幸福的事情；可是，打呼噜怎么办？</p>
											</div>
										</a>
									</li>-->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
	</body>
	<script src="../../public/js/mui.min.js"></script>
	<script src="../../public/js/mui.pullToRefresh.js"></script>
	<script src="../../public/js/mui.pullToRefresh.material.js"></script>
	<script src="home.js"></script>
	<script type="text/javascript">
	</script>

</html>